<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <p>Matt Brown</p>
      <p>Hi, my name is Matt Brown, and I am a software developer in the NYC area. This site is a collection of some things I’ve written.</p>
      <p><a href="https://www.twitter.com/mattnworb">twitter</p>
      <p><a href="https://www.github.com/mattnworb">github</p>
      <p><a href="mailto:matt@mattnworb.com">email</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Home</a>

    {{ $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight }}
      {{ if isset .Params "sidebar" }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}.
  </div>
</div>
